.h-banner-indicator {
  transition: all 0.3s ease-in-out;
  left: unset;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1%;
}
.h-banner-indicator.carousel-indicators .active {
  width: 50px !important;
}
.banner-carousel .carousel-item {
  height: 90vh;
  position: relative;
}
.home-banner-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slide-1 {
  background-image: url("../../../static/images/home-banner/img-1.jpg");
  background-size: cover;
  background-position: center;
}
.slide-2 {
  background-image: url("../../../static/images/home-banner/img-2.jpg");
  background-size: cover;
  background-position: center;
}
.slide-3 {
  background-image: url("../../../static/images/home-banner/img-3.jpg");
  background-size: cover;
  background-position: center;
}
