.h-banner-indicator {
  transition: all 0.3s ease-in-out;
  left: unset;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1%;
}
.h-banner-indicator.carousel-indicators .active {
  width: 50px !important;
}
.banner-carousel .carousel-item {
  height: 90vh;
  position: relative;
}
.home-banner-title {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
  color: #fff;
  font-size: 3.2rem;
}
.slide-1 {
  background-image: url("../../../static/images/home-banner/img1.jpg");
  background-size: cover;
  background-position: center;
}
.slide-2 {
  background-image: url("../../../static/images/home-banner/img2.jpg");
  background-size: cover;
  background-position: center;
}
.slide-3 {
  background-image: url("../../../static/images/home-banner/img3.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 576px) {
  .slide-1 {
    background-image: unset;
    background-color: #111b33;
  }
  .slide-2 {
    background-image: unset;
    background-color: #111b33;
  }
  .slide-3 {
    background-image: unset;
    background-color: #111b33;
  }
  .home-banner-title {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
  }
  .h-banner-indicator {
    transition: all 0.3s ease-in-out;
    left: unset;
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1%;
  }
}
