.industry-wrapper {
  height: 90vh;
  position: relative;
}
.industry-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 27, 51, 0.8);
}
.i-card {
  height: 250px;
  background-color: teal;
  border-radius: 1rem;
  box-shadow: 0 0 2px 1px rgba(0, 128, 128, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1rem;
  color: #ffffff;
  transition: all 0.5s ease-in;
  position: relative;
}
.i-card::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 27, 51, 0.4);
  z-index: 1;
}
.i-card:hover {
  transform: translateY(-30px);
}
.card-title {
  z-index: 2;
}
.b-card {
  background-image: url("../../../static/images/industries/banking.png");
  background-size: cover;
}
.h-card {
  background-image: url("../../../static/images/industries/healthcare.png");
  background-size: cover;
}
.r-card {
  background-image: url("../../../static/images/industries/retail.png");
  background-size: cover;
}
.t-card {
  background-image: url("../../../static/images/industries/telecom.png");
  background-size: cover;
}
.l-card {
  background-image: url("../../../static/images/industries/logistics.png");
  background-size: cover;
}
.ind-1 {
  background-image: url("../../../static/images/industries/b-bg.png");
  background-size: cover;
  background-position: center;
}
.ind-2 {
  background-image: url("../../../static/images/industries/t-bg.png");
  background-size: cover;
  background-position: center;
}
.ind-3 {
  background-image: url("../../../static/images/industries/r-bg.png");
  background-size: cover;
  background-position: center;
}
.ind-4 {
  background-image: url("../../../static/images/industries/h-bg.png");
  background-size: cover;
  background-position: center;
}
.ind-5 {
  background-image: url("../../../static/images/industries/l-bg.png");
  background-size: cover;
  background-position: center;
}
.ind-content {
  color: #ffffff;
  font-size: 1.2rem;
}
