.newage {
  max-width: 775px;
}
.service-title {
  color: #00a14b;
  margin-bottom: 2.5rem;
}
.service-title-inner {
  color: #111b33;
  font-size: 48px;
  font-weight: 700;
}
.service-text {
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
}

.service-link {
  margin-top: 4rem;
  margin-left: 4rem;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  color: #44064e;
  font-weight: 500;
}
.service-link::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: hsl(148, 100%, 88%);
  z-index: -1;
  left: -15px;
  top: -5px;
}
.arrow {
  color: #111b33;
  font-size: 2rem;
  display: inline-block;
  margin-top: 10px;
}
.service-link:hover {
  text-decoration: none;
}
.service-link:hover .service-link::before {
  width: 200px;
}
.service-slider {
  position: relative;
  height: 95vh;
}
.service-item {
  height: 72vh;
}
.slide-index {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.slide-index-list {
  padding: 0;
  margin: 0;
}
.slide-index-list li {
  list-style-type: none;
  text-align: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 1rem 0.5rem;
  border: 1px solid #00a14b;
}
.slide-index-list li.active {
  font-weight: bold;
  color: #111b33;
  background-color: hsl(148, 100%, 42%);
}
.service-link:hover {
  color: #811c92;
}
