.section-title{
    color: #222222;
    padding: 2rem 4rem;
    font-size: 3rem;
    position: relative;
    margin: 0;
}
.section-title::before{
    content: "";
    height: 80px;
    width: 10px;
    background-color: #64BF4B;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}