.section-title {
  font-size: 3rem;
  font-weight: 600;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 150px;
  background-color: #fbbf12;
  left: 2px;
  bottom: -10px;
}

.section-title.green {
  color: #00a14b;
}
