.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-3 {
  background: hsl(222, 50%, 13%);
  color: #fff;
}

.btn-3:hover {
  background: hsl(222, 50%, 20%);
  color: #fff;
}

.btn-3:active {
  background: hsl(222, 50%, 10%);
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}
.btn-3e {
  padding: 15px 75px 15px 25px;
  overflow: hidden;
}

.btn-3e:before {
  left: auto;
  right: 0;
  z-index: 2;
}

.btn-3e:after {
  width: 25%;
  height: 100%;
  background: hsl(222, 50%, 30%);
  z-index: 1;
  right: 0;
  top: 0;
  color: #fff;
}

.btn-3e:hover:after {
  width: 100%;
}
.icon-arrow-right:before {
  content: "";
  background-image: url("../../images/arrow-right.svg");
  background-repeat: no-repeat;
  color: #fff !important;
  background-position: center;
}
