.contact-icon {
  font-size: 1.5rem;
}
.formrow {
  margin-top: 10px;
  padding: 10px 0px;
}
.Formaddress {
  background: #f1f2f2;
  padding: 0px 0px 41px 0px;
  position: relative;
}
.mx-auto .row {
  padding: 10px;
}
.contact-title {
  color: #2db32d;
}
.icons {
  height: 60px;
  width: 60px;
  margin: 0 5px;
  text-align: center;
  color: #2db32d;

  background: #cce0d0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* line-height: 2;
  transition: all 0.2s ease-in; */
}

.inputstyle input {
  width: 400px;
  height: 35px;
  border-radius: 6px;
  padding: 20px;
}
.inputstyle label {
  font-size: 17px;
  padding: 7px;
  margin-left: 10px;
}
.headstyle {
  padding: 30px 0px;
  color: #2a942a;
}
.bannerimage .row h1 {
  color: white;
}
.map {
  padding: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-close {
  position: absolute;
  top: 0px;
  right: 0px;
}
.btn-style {
  display: flex;
  justify-content: center;
}
.mapstyle {
  width: 100%;
  height: 70vh;
}
.btnstyle {
  display: flex;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 575.98px) {
  .bannerimage .row h1 {
    color: #16dc43;
    font-size: 27px;
  }

  .icons {
    font-weight: 400;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    text-align: center;

    color: #2db32d;

    background: #cce0d0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconscolor {
    color: #2db32d;
    font-size: 16px;
  }
  .ptagstyle {
    font-size: 10px;
  }
  .btncolor {
    background: #094c56;
    color: white;
    font-size: 10px;
    width: 88px;
    height: 27px;
  }
  .inputstyle {
    width: 150px;
    height: 30px;
    border-radius: 3px;
  }
  .headstyle {
    color: #2a942a;
  }
  .headstyle h4 {
    font-size: 10px;
  }
  .main {
    margin-left: 60px;
  }
  .inputstyle input {
    width: 300px;

    border-radius: 6px;
    padding: 15px;
  }
  .inputstyle label {
    font-size: 15px;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .headstyle h4 {
    color: #2a942a;
    font-size: 16px;
  }
  .inputstyle input {
    width: 300px;

    border-radius: 6px;
    padding: 15px;
  }
  .icons {
    font-weight: 400;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    text-align: center;

    color: #2db32d;

    background: #cce0d0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconscolor {
    color: #2db32d;
    font-size: 16px;
  }
}

/* New Contact us page */

.contact-info-wrapper,
.google-map-wrapper {
  height: 90vh;
  border: 2px solid red;
}
.spacer {
  background: #f1f2f2;
}
