.services-wrapper{
    height: calc(100vh - 65px);
}
.services-inner{
     border-top: 1px solid #97F27A;
}
.service-menu-list{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.service-menu-item{
    list-style-type: none;
    font-size: 1.5rem;
    padding: 1.2rem 1rem;
}
.service-menu-item.active{
    background-color:#97F27A;
    font-weight: 600;
}
.service-img img{
    width: 100%;
    max-height: 92vh;
}
.service-sub-menu-list{
    background-color: #000;
    height: 92vh;
}
.service-sub-menu-list{
margin: 0;
padding: 0;
list-style-type: none;
border-left:1px solid #111;
}
.service-sub-menu-item{
 color: #f5f5f5;
 font-size: 1.5rem;
 padding: 2rem 1rem;
 border-bottom:1px solid #111;
}
.service-sub-menu-item:hover{
    font-weight: 600;
    background-color: #333;
    transition: background 0.5s ease-out;
}