.floating-label-form .form-control,
.floating-label-form .form-control:focus {
  background-color: rgba(0, 161, 75, 0.1);
  /* padding: 1.7rem 1rem; */
  border: 1px solid rgba(0, 161, 75, 0.5);
  min-height: 56px;
}
.floating-label-form input {
  outline: none;
}
.floating-label-form input:focus {
  outline: none;
}
/*  */
.form-control {
  border: none;
  color: #333333;
  border-radius: 0.5rem;
}

.floating-label,
.phone-label label {
  position: relative !important;
}
.form-control {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
}
.floating-label label,
.phone-label label {
  left: 8px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.2s;
}

.floating-label input:not(:placeholder-shown),
.floating-label textarea:not(:placeholder-shown),
.floating-label select:not(:placeholder-shown) {
  border: 1px solid #00a14b;
}

.floating-label input:not(:placeholder-shown) + label,
.floating-label textarea:not(:placeholder-shown) + label,
.floating-label select:not(:empty) + label,
.phone-label .floating-label input:not(:placeholder-shown) + .phone-label {
  /* background-image: linear-gradient(
    to top,
    rgb(233 246 236) 34%,
    #fff,
    #fff,
    #fff 100%
  ); */
  background-image: linear-gradient(
    to top,
    rgb(233 246 236) 34%,
    #ffffff,
    #ffffff,
    #ffffff 100%
  );
  transform: translate(0, -35%) !important;
  opacity: 1 !important;
  color: #333333;
  margin: 0;
  margin-left: 0.4rem;
  padding: 0 0.4rem;
}

.required,
.err-msg {
  color: #ff0000;
}
.floating-label label,
.phone-label label {
  color: #2db32d !important;
}

/* .c-form .floating-label input:not(:placeholder-shown) + label,
.c-form .floating-label textarea:not(:placeholder-shown) + label {
  background-image: linear-gradient(
    to top,
    rgb(220 234 225) 34%,
    #f1f2f2,
    #f1f2f2,
    #f1f2f2 100%
  );
  background-image: linear-gradient(
    to top,
    rgb(233 246 236) 20%,
    #ffffff,
    #ffffff,
    #ffffff 100%
  );
  transform: translate(0, -50%) !important;
} */

/* phone input */
.PhoneInputInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: rgba(0, 161, 75, 0.1);
  padding: 1.7rem 1rem;
  border: 1px solid rgba(0, 161, 75, 0.5);
  outline: none;
  border-left: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.PhoneInputCountry {
  padding: 0 0.5rem;
  background-color: rgba(0, 161, 75, 0.1);
  border: 1px solid rgba(0, 161, 75, 0.5);
  border-right: 1px solid rgba(0, 161, 75, 0.2);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-right: 0px;
}

input:-internal-autofill-selected {
  background-color: rgba(72, 19, 40, 0.1) !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  box-shadow: 0 0 0 30px transparent inset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(72, 19, 40, 0.15) inset !important;
  box-shadow: 0 0 0 30px transparent inset !important;
}
