:root{
    --grey-1:#343434;
    --grey-2:#4F4F4F;
    --grey-3:#828282;
    --grey-4:#BDBDBD;

    --green-1:#2E8E1A;
    --green-2:#64BF4B;
    --green-3:#97F27A;
    --green-4:#CBFFAB;
    
    --orange-1:#BA6600;
    --orange-2:#BA6600;
    --orange-3:#BA6600;
    --orange-4:#BA6600;

    --blue-1:#00618F;
    --blue-2:#118EBF;
    --blue-3:#5DBEF2;
    --blue-4:#5DBEF2;
}