.home-banner {
  height: 90vh;
  width: 100%;
  max-width: 99vw;
}
.banner-img {
  max-height: 90vh;
  width: 100%;
}
.overview {
  background-color: #ebf3ff;
}
@font-face {
  font-family: "NeuropoliticalRg-Regular";
  src: url("../fonts/NeuropoliticalRg-Regular.ttf");
  font-display: swap;
}
.welcome-title {
  color: #00a14b;
  font-size: 2rem;
}
.brand {
  font-family: "NeuropoliticalRg-Regular", sans-serif;
  font-size: 3rem;
}
.welcome-text {
  font-size: 1.2rem;
  text-align: justify;
}

.poc-wrapper {
  background-color: #f0f1f9;
}
.poc-title {
  font-size: 1.5rem;
  color: #00a14b;
}
.poc-title-bg {
  color: #111b33;
  font-size: 2.5rem;
  font-weight: 700;
}
.poc-letter-wrapper {
  position: relative;
}
.poc-letter {
  font-size: 7rem;
  position: absolute;
  top: -20px;
  left: 0px;
  color: #c5c5c591;
  font-family: "Roboto", sans-serif;
}
/* our services slider */
.service-img img {
  height: 500px;
  width: 750px;
}
.service-title {
  font-size: 3rem;
  font-weight: 600;
  color: #00a14b;
}
.service-title span {
  font-size: 2rem;
  font-weight: 500;
}
.s-banner-indicators li {
  height: 15px;
  width: 15px;
  margin: 0 0.5rem;
  background-color: #00a14b;
  border-radius: 50%;
  bottom: -30px;
}
.s-banner-indicators {
  bottom: -55px;
}
/* company stats */
.stat-title {
  font-size: 4rem;
  font-weight: 700;
  color: #0e1934;
}

.stat-caption {
  font-size: 1.2rem;
  color: #0e1934;
}

.stats-wrapper {
  background-color: #f8fbff;
}

.client {
  max-height: 70px;
}

@media (max-width: 576px) {
  .welcome-title {
    font-size: 1.5rem;
  }
  .brand {
    font-size: 2.5rem;
  }
  .poc-title {
    font-size: 1.3rem;
  }
  .poc-title-bg {
    font-size: 1.7rem;
  }
  .poc-letter {
    display: none;
  }
  .stat-title {
    font-size: 2.5rem;
  }
  .stat-caption {
    font-size: 1rem;
  }
  .service-title {
    font-size: 2rem;
  }
  .service-title span {
    font-size: 1.5rem;
  }
  .service-slider {
    height: 85vh;
  }
  .slick-arrow {
    display: none !important;
  }
}
