.home-banner {
  height: 90vh;
  width: 100%;
  max-width: 99vw;
}
.banner-img {
  max-height: 90vh;
  width: 100%;
}
.overview {
  background-color: #ebf3ff;
}
@font-face {
  font-family: "NeuropoliticalRg-Regular";
  src: url("../fonts/NeuropoliticalRg-Regular.ttf");
}
.welcome-text {
  color: #00a14b;
  font-size: 2rem;
}
.brand {
  font-family: "NeuropoliticalRg-Regular", sans-serif;
  font-size: 3rem;
}
.newage {
  max-width: 775px;
}
.service-title {
  color: #00a14b;
  margin-bottom: 2.5rem;
}
.service-title-inner {
  color: #111b33;
  font-size: 48px;
  font-weight: 700;
}
.service-text {
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
}

.service-link {
  margin-top: 4rem;
  margin-left: 4rem;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  color: #111b33;
  font-weight: 600;
}
.service-link::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: hsl(148, 100%, 82%);
  z-index: -1;
  left: -20px;
  top: -5px;
}
.arrow {
  color: #111b33;
  font-size: 2rem;
  display: inline-block;
  margin-top: 10px;
}
.service-link:hover {
  text-decoration: none;
}
.service-link:hover .service-link::before {
  width: 200px;
}
.service-slider {
  position: relative;
  height: 95vh;
}
.service-item {
  height: 72vh;
}
.slide-index {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.slide-index-list {
  padding: 0;
  margin: 0;
}
.slide-index-list li {
  list-style-type: none;
  text-align: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 1rem 0.5rem;
  border: 1px solid #00a14b;
}
.slide-index-list li.active {
  font-weight: bold;
  color: #111b33;
  background-color: hsl(148, 100%, 42%);
}

.poc-wrapper {
  background-color: #f0f1f9;
}
.poc-title {
  font-size: 1.5rem;
  color: #00a14b;
}
.poc-title-bg {
  color: #111b33;
  font-size: 2.5rem;
  font-weight: 700;
}
.poc-letter-wrapper {
  position: relative;
}
.poc-letter {
  font-size: 7rem;
  position: absolute;
  top: -20px;
  left: 0px;
  color: #c5c5c591;
  font-family: "Roboto", sans-serif;
}
/* our services slider */
.service-img img {
  height: 500px;
  width: 750px;
}
.service-title {
  font-size: 3rem;
  font-weight: 600;
  color: #00a14b;
}
.service-title span {
  font-size: 2rem;
  font-weight: 500;
}
.s-banner-indicators li {
  height: 15px;
  width: 15px;
  margin: 0 0.5rem;
  background-color: #00a14b;
  border-radius: 50%;
  bottom: -30px;
}
.s-banner-indicators {
  bottom: -20px;
}
/* company stats */
.stat-title {
  font-size: 4rem;
  font-weight: 700;
  color: #00a14b;
}
.stat-caption {
  font-size: 1.2rem;
  color: #00a14b;
}
.stats-wrapper {
  background-color: #f8fbff;
}
