.app-form {
  position: relative;
}
.form-close-btn {
  position: absolute;
  right: -15px;
  top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 25px 0px 0px 25px;
  background: rgba(0, 161, 75, 0.2);
  border: none;
  padding: 10px 25px;
}
.form-close-btn:hover {
  background: #00a14b;
}
.svgicon {
  color: #fbbf12;
}

/* new styles */

.c-arrow-circle {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: #00a14b;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-point-text {
  font-size: 1rem;
}
.job-container {
  background-color: rgba(29, 51, 91, 0.03);
}
.job-content-wrapper {
  background-color: #fff;
}
.c-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  position: relative;
}
.c-btn:focus {
  outline: none;
}
.c-btn::before {
  content: "";
  height: 3px;
  width: 80px;
  position: absolute;
  bottom: -2px;
  background-color: #fbbf12;
}
.c-btn-active {
  background-color: #30b454;
  border-right: 4px solid #fbbf12;
}
.c-btn-active .c-btn {
  color: #fff;
}
.app-form .form-control {
  background-color: rgba(29, 51, 91, 0.03);
}
.app-form input {
  outline: none;
}
.app-form input:focus {
  outline: none;
}
/*  */

.floating-label {
  position: relative !important;
}

.floating-label label {
  left: 8px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.2s;
}

.floating-label input:not(:placeholder-shown) {
  border: 1px solid rgba(249, 249, 249, 0.5);
}

.floating-label input:not(:placeholder-shown) + label,
.floating-label textarea:not(:placeholder-shown) + label {
  background-image: linear-gradient(
    to top,
    rgba(29, 51, 91, 0) 50%,
    transparent,
    transparent,
    transparent 100%
  );
  transform: translate(0, -50%) !important;
  opacity: 1 !important;
  color: #333333;
  margin: 0;
  margin-left: 0.4rem;
  padding: 0 0.4rem;
}
.required {
  color: #ff0000;
}

.floating-label label {
  color: #2db32d !important;
}
.resume-label {
  color: #2db32d !important;
}
