.privacy-page{
    color: #656565;
    background-color:#f5f5f5;     
}
.privacy-inner{
background-color: #ffffff;
}

.privacy-page h1{
    font-size: 2rem;
}
.privacy-page h2{
    font-size: 1.6rem;
}
.privacy-page h1, .privacy-page h2,.privacy-page h3{
    color: #212529;
    margin-top: 1rem;
    margin-bottom: 1rem;
}